<div class="password-bg">
  <section class="ftco-section ">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="container ">
        <div class="row justify-content-center p-5">
          <div class=" col-md-6 col-lg-4" id="bg-password">
            <div class="login-wrap py-5 text-center">
              <h3 class="text-center mb-0 ">Forgot your<br/> password?</h3>
              <p class="text-center p-2">Recover by entering the information below</p>
              <form action="#" class="login-form">
                <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
                <div class="form-group justify-center m-0">
                  <div class="actions p-2 " >
                    <%= f.submit "Send me reset password instructions" %>
                  </div>
                </div>
              </form>
              or
              <div class="w-100 text-center text ">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>
</div>

