<h1>My Cart</h1>
<% if !@cart.nil? && !@cart_lines.nil? && @cart_lines.length > 0 %>
  <table class="table">
    <thead>
        <tr>
        <th scope="col" colspan="2">Product</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <% @cart_lines.each do |cart_line| %>
      <% @total_price += cart_line.item.price %>
      <tr>
        <td>
          <img src=<%= cart_line.item.image_url %> alt=<%= cart_line.item.image_url %>>
        </td>
        <td><%= cart_line.item.title %></td>
        <td><%= number_to_currency(cart_line.item.price, unit: "€", separator: ",", delimiter: "", format: "%n %u") %></td>
        <td><%= link_to "Delete product", user_cart_cart_line_path(@cart.user.id, @cart.id, cart_line.id), method: "delete", class: "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <td><%= link_to "The cart is empty, click to continue your shopping", root_path %></td>
<% end %>

<div class="columns">
  <div class="column">
    <button><%= link_to 'Empty Cart', user_cart_path(@cart.user.id, @cart.id), method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger" %></button>
  </div>
  <div class="column">
    <h4>
      <span>Total:</span> <%= number_to_currency(@total_price, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>
    </h4>
  </div>
  <div class="column">
    <%= button_to "Confirm your command", new_user_order_path(@cart.user.id), params: {cart_id: @cart.id, total_price: @total_price}, class: "btn btn-primary btn-sm", role: "button" %>
  </div>
</div>
