<% if !@cart.nil? && !@cart_lines.nil? && @cart_lines.length > 0 %>
  <div class="container-show p-5">
    <div class="container-fluid" id="sub-container">
      <div class="col-md-12 p-5 cart">
        <div class="title">
          <div class="row">
            <div class="col">
             <h4><b>Shopping Cart</b></h4>
            </div>
          </div>
        </div>
        <% @cart_lines.each do |cart_line| %>
          <% @total_price += cart_line.item.price %>
          <div class="row border-top border-bottom">
            <div class="row main align-items-center">
              <div class="col-2"><img class="img-fluid" src=<%= cart_line.item.image_url %> alt=<%= cart_line.item.image_url %>></div>
              <div class="col">
                <div class="row text-muted">Kitten</div>
                <div class="row"><%= cart_line.item.title %></div>
              </div>
              <div class="col">Pri &euro; <%= number_to_currency(cart_line.item.price, separator: ",", delimiter: "", format: "%n %u") %><span class="close"><%= link_to "Delete product", user_cart_cart_line_path(@cart.user.id, @cart.id, cart_line.id), method: "delete", class: "btn btn-sm btn-danger" %></span></div>
            </div>
          </div>
        <% end %>
        <div class="check-out-container">
          <div class="container col-12" id="sub-checkout">
            <div class="p-2">
              <button class="btn-empty btn"><%= link_to 'Empty Cart', user_cart_path(@cart.user.id, @cart.id), method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger" %></button>
            </div>
            <div class="p-2">
              <h4>
                <span>Total:</span> <%= number_to_currency(@total_price, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>
              </h4>
            </div>
            <div class="">
              <%= button_to "Confirm your command", new_user_order_path(@cart.user.id), params: {cart_id: @cart.id, total_price: @total_price}, class: "btn btn-primary btn-sm", role: "button" %>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>

 
<% else %>
  <td><%= link_to "The cart is empty, click to continue your shopping", root_path %></td>
<% end %>