<% if !@item.nil? && user_signed_in? && admin? %>
<div class="container-fluid" id="box-container-edit">
  <div class="sub-container">
    <div>
      <div class=" justify-center p-5">
        <h3>Modifie les détails de ta photo n°<%= @item.id %></h3>
      </div>
      <% if !@item.nil? && @item.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <p>Nous n'avons pas réussi à mettre à jour les détails de la photo pour la (ou les) raison(s) suivante(s) :</p>
          <ul>
            <% @item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <form class="">
        <%= form_tag item_path(@item.id), method: "post" do %>
          <input type="hidden" name ="_method" value="put">
          <div class="justify-center">
            <h3><label for="validationServer01"><%= label_tag 'Titre' %></label></h3>
          </div>
          <div class="form-row justify-center">
            <div class=" mb-3">
              <%= text_field_tag 'title', (@item.title if !@item.title.nil?), size: 30, minlength: 5, maxlength: 40 %>
            </div>
          </div>
          <div class=" justify-center">
            <h3><label for="validationServer02"><%= label_tag 'Description' %></label></h3>
          </div>
          <div class="justify-center">
              <%= text_area_tag 'description', (@item.description if !@item.description.nil?), size: "50x5", minlength: 20, maxlength: 1000 %>
          </div>
          <div class=" pt-4 justify-center">
           <label for="validationServerUsername"><%= label_tag 'Prix en euros' %></label>
          </div>
          <div class=" mb-3 justify-center">
            <div class="input-group justify-center">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3">€</span>
              </div>
              <%= number_field_tag 'price', (@item.price if !@item.price .nil?), min: 1, max: 1000, step: 0.05 %>
              <div class="invalid-feedback">
                Please choose a price.
              </div>
            </div>
          </div>
          <div class=" justify-center">
            <label for="validationServer03"><%= label_tag 'URL' %></label>
          </div>
          <div class="form-row justify-center">
            <div class=" mb-3">
              <%= text_field_tag 'image_url', (@item.image_url if !@item.image_url.nil?), size: 50, minlength: 20, maxlength: 140 %>
              <div class="invalid-feedback">
                Please provide an url.
              </div>
            </div>
              <div class=" mb-3">
                <%= form_tag item_photos_path(@item.id), multipart: true do %>
                  <%= file_field_tag :photo %>
                  <%= submit_tag "mettre à jour" %>
                <% end %>
              </div>
          </div>
          <div class="justify-center" id="button-resgister">
            <%= submit_tag "Enregistrer cette nouvelle version de ta photo" %>
          </div>
        <% end %>
        <BR>
        <div class=" justify-center">
          <p>
            <a href="<%= item_path(@item.id) %>" class="btn btn-danger btn-sm" role="button" data-confirm="Es-tu certain de vouloir supprimer définitivement cette photo?" data-method="DELETE">Supprimer cette photo</a>
          </p>
        </div>
      <% elsif @item.nil? %>
        <div class="alert alert-danger" role="alert">
          <p>Aucune photo de n°<%= params[:id] %> n'existe dans la base!</p>
        </div>
      <% else %>
        <div class="alert alert-danger" role="alert">
          <p>Tu n'es pas l'admin de ce site : tu n'es donc pas autorisé à modifier les détails de la photo en base!</p>
        </div>
      <% end %>
      </form>
    </div>
  </div>
</div>