<div class="show-bg">
  <BR>
  <BR>
  <section class="ftco-section">
    <% if !@item.nil? %>
      <div class="container " id="card-box">
        <div class="card-show mb-3" >
          <img class="card-img-show" src=<%= @item.image_url %> alt=<%= @item.image_url %>>
          <div class="card-body text-center p-2">
            <h5 class="card-title"><%= @item.title %></h5>
            <p class="card-text"><p class="content"><%= @item.description %></p>
            <p>Son prix : <%= number_with_precision(@item.price, :precision => 2, :delimiter => ' ', :separator => ',') %> &euro;</p>
            <p>La date d'ajout de la photo : <%= @item.created_at.strftime("%d/%m/%Y à %T %z") %></p>
            <p>La date de dernière modification des détails de la photo : <%= @item.updated_at.strftime("%d/%m/%Y à %T %z") %></p>
          </div>
          <div>
            <p>
              <a href="<%= edit_item_path(@item.id) %>" class="btn btn-primary btn-sm" role="button">Modifier ou supprimer ma photo</a>
            </p>
          </div>
          <div>
          <p>
            <%= button_to "Ajouter cette photo à mon panier", user_cart_path(current_user.id, current_user.cart.id), params: {item_id: @item.id}, method: :put, class: "btn btn-primary btn-sm", role: "button" %>
          </p>
        </div>
        <br />
        </div>
      </div>
      <% if user_signed_in? && !admin? %>
      <% end %>
      <% if user_signed_in? && admin? %>
        
        <br />
      <% end %>
    <% else %>
      <div class="alert alert-danger" role="alert">
        <p>Aucune photo de n°<%= params[:id] %> n'existe dans la base!</p>
      </div>
    <% end %>
  </section>
</div>


