<% if !@item_hash['item'].nil? %>
  <h1>Voici la page de la photo n°<%= @item_hash['index'] %></h1>
  <BR>
  <% if !notice.nil? %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  <BR>
  <div>
    <p>Son titre : <%= @item_hash['item'].title %></p>
    <p>Sa description : <p class="content"><%= @item_hash['item'].description %></p></p>
    <p>Son prix : <%= @item_hash['item'].price %> &euro;</p>
    <p>Son image : <img src=<%= @item_hash['item'].image_url %> alt=<%= @item_hash['item'].image_url %>></p>  
    <p>La date d'ajout de la photo : <%= @item_hash['item'].created_at %></p>
    <p>La date de dernière modification des détails de la photo : <%= @item_hash['item'].updated_at %></p>
    <br />
  </div>
<% else @item_hash['item'].nil? %>
  <div class="alert alert-danger" role="alert">
    <p>Aucune photo de n°<%= @item_hash['index'] %> n'existe dans la base!</p>
  </div>
<% end %>
