<section>
  <nav class="navbar navbar-toggleable-sm navbar-inverse " id="navbar-only">
    <div class="container-fluid" id="content-container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler-1" aria-controls="navbarToggler-1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand"></a>
      <div class="collapse navbar-collapse" id="navbarToggler-1">
        <ul class="navbar-nav mt-2 mt-md-0">
          <li class="nav-item active">
            <%= link_to "Home", items_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", static_contact_index_path, class: "nav-link" %>
          </li>
          <% if !user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item login">
              <%= link_to "Profile", user_path(current_user.id), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log-out", destroy_user_session_path, method: :delete, :data => {:confirm => "Êtes-vous sûr de vouloir vous déconnecter ?"}, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</section>
